@import "registration_page.css";
@import "landing_page.css";
@import "mainapp.css";
@import "leftsidebar.css";
@import "app_toppane.css";

html, body{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: black;
}

#main {
    width: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
}

h6, p{
    margin-bottom: 0 !important;
}

.full-page{
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section{
    padding-top: 3%;
    padding-bottom: 3%;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}

hr{
    background-color: transparent !important;
}

#screen-is-small{
    text-align: center;
    border-bottom: double 4px brown !important;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page-not-found{
    text-align: center;
    border-bottom: double 4px brown !important;
    margin: auto;
}

#footer-content{
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 0px !important;
    background-color: #f1f1f1;
}

.fa {
    font-size: 30px !important;
    color: green;
}

.green-underline{
    border-bottom: 3px solid green;
    padding-bottom: 3px;
    text-align: center;
    display: inline-block;
    width: auto;
}

hr{
    border-top: 0cm !important;
    padding: 0px;
    margin: 0px;
  }



