#mainapp-container{
    height: 95vh;
    display: flex;
    flex-direction: row;
    font-size: small;
}

#btn-run-analysis{
    background-color: rgb(169,169,169);
    border: none;
    width: 50%;
    color: black;
}

#run-btn-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin: auto !important;
    margin-top: 5% !important;
    height: 5vh;

}

#the-app{
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    text-align: center;
    background-color: rgb(105,105,105);
    border-top: 1px gray solid;
}


.app-button{
    color: gray;
    font-size: xx-large;
    border: 2px dashed gray;
    border-radius: 10px;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}

.process-container{
    position: relative;
}

.delete-button{
    border: 1px solid black;
    border-radius: 200px;
    color: white;
    font-weight: bolder;
    background-color: red;
    font-size: 10px !important;

    position: absolute;
    top: 0 !important;
    left: -10px !important;
}

.delete-button:hover{
    transform: scale(1.1)
}

#empty-process-button{
    width: 200px;
    height: 50px;
}