#mainapp-container{
    position: relative;
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: small;
    margin: 0;
}

#btn-run-analysis{
    border: none;
    color: black;
    font-weight: bolder;
}

#the-app{
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    background-color: rgb(105,105,105);
    border-top: 1px gray solid;
}


.react-transform-component{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.react-transform-wrapper{
    width: 100% !important;
    height: 100% !important;
}

.hidden{
    display: none !important;
}